.createChallenge-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.createChallenge-page-control {
    background-color: white;
    padding: 45px;
}