.main-page {
    box-sizing: border-box;
    padding: 30px 30px 50px;    
    width: 100%;
    max-width: 720px;
    margin: 10px auto;
    background-color: #fff;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.control-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
}