.acceptedChallenge-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acceptedChallenge-control {
    background-color: white;
    padding: 45px;
}

.time-color {
    color: red;
}